:root {
  --blue1: #2196f3;
  --blue2: #42a5f5;
  --blue3: #57b1fa;
  --blue4: #6ec6ff;
  --headerHeight: 50px;
}
#container {
  flex: 1;
  height: 100%;
}
a {
  text-decoration: none;
}
html,
body,
.container {
  height: 100%;
  font-family: 'Roboto';
}
div#root {
  height: 100%;
}
#mapContainer {
  height: 100%;
  float: left;
  width: 70%;
}
.sideMenu {
  float: left;
  width: 30%;
}
.content {
  width: 100%;
  height: calc(100% - var(--headerHeight));
}
.breadcrumb {
  font-size: 18px;
  height: var(--headerHeight);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background: var(--blue1);
}

p.breadItem {
  display: flex;
  margin: 0px;
  align-items: center;
  color: white;
  font-weight: bold;
  justify-content: space-around;
  transition: all 0.4s;
}

p.breadItem::after {
  content: "→";
  margin-left: 8px;
}
p.breadItem:last-child:after {
  content: "";
}
p.breadItem.state {
  background: var(--blue1);
}

p.breadItem.region {
  background: var(--blue2);
}

p.breadItem.province {
  background: var(--blue3);
}
p.breadItem.municipality {
  background: var(--blue4);
}


.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
  background-color:  rgb(41 149 243 / 15%) !important;
  font-weight: bold;
}

.MuiTreeItem-label {
  width: 100%;
  position: relative;
  padding-left: 4px;
}
.resultItem{
  margin:20px;
}
.MuiTypography-root.MuiTreeItem-label.MuiTypography-body1 {
  font-size: 18px;
}
.MuiFormControl-root.MuiTextField-root {
   width: 90%;
   margin: 20px;
}

ul.MuiTreeView-root{
  overflow-y: scroll;
  max-height: 70vh;
  margin-left: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}