:local(.sideMenu) {
  float: left;
  width: 35%;
  max-height: calc(100vh - var(--headerHeight));
  overflow: hidden;
}
:local(.rootItem) {
  overflow-y: scroll;
  background: #f8f8f8;
  margin-left: 8px;
  padding: 8px;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  transition: all 0.3s;
}
